@mixin media-smaller-up() {
  @media (min-width: $xs-breakpoint) {
    @content;
  }
}

@mixin media-small-up() {
  @media (min-width: $sm-breakpoint) {
    @content;
  }
}

@mixin media-medium-up() {
  @media (min-width: $md-breakpoint) {
    @content;
  }
}

@mixin media-large-up() {
  @media (min-width: $lg-breakpoint) {
    @content;
  }
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin animation($animation...) {
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}
@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
