$border-radius: 4px     !default;
$border-radius-lg: 10px !default;

$xs-breakpoint: 600px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1152px;
$lg-breakpoint: 1440px;
$xl-breakpoint: 1900px;

//colors
$color-primary: #8B8CE9                     !default;
$color-primary-darken: #6C6DE3              !default;
$color-primary-light: #9495EE               !default;
$color-danger: #F65981                      !default;
$color-danger-font-color: #DC6A6B           !default;
$color-danger-light: #FEA2A3                !default;
$color-danger-lighten: #F9C7C6              !default;
$color-secondary-lighten: #f6f7fb9c         !default;
$color-secondary-lightest: #f1f1f1          !default;
$color-white-transparent: #ffffff33         !default;
$font-color-primary: gray                   !default;
$color-success: #25bf2578                   !default;
$background-color-primary: #fff             !default;
$color-primary-background: #E8ECF6          !default;
$color-primary-background--light: #fcfdfd   !default;

